<nav class="navbar navbar-expand navbar-dark bg-primary fixed-top d-flex flex-row justify-content-between">
  <a class="navbar-brand" routerLink="/dashboard">
    <h2 class="d-none d-sm-inline">Blockchain Intelligence Group</h2>
    <h2 class="d-block d-sm-none">BIG</h2>
  </a>
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown notifications" ngbDropdown placement="bottom-right" #notificationsDropdown="ngbDropdown">
        <i class="material-icons" *ngIf="!notificationsActive.isActive" (click)="$event.stopPropagation(); notificationsDropdown.toggle(); accountDropdown.close();">notifications
          <div *ngIf="notifications?.total_unread">{{ notifications?.total_unread }}</div>
        </i>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationsDropdown" ngbDropdownMenu>
          <h6 class="dropdown-header">Notifications:</h6>
          <div *ngIf="!notifications || !notifications.data || notifications.data.length ==0" 
            class="dropdown-item disabled">
            <em class="text-muted">Empty...</em>
          </div>
          <div *ngFor="let notification of notifications?.data" class="dropdown-item {{notification.readed ? 'readed':'unreaded pointer'}}" routerLink="/notification/index">
              <p><strong>{{ notification.title }}</strong> {{ notification.details }}</p>
              <p><small>{{ notification.created_at | date:'short' }}</small></p>
          </div>
          <div class="dropdown-footer text-center text-primary pointer" routerLink="/notification/index" #notificationsActive="routerLinkActive" routerLinkActive="d-none">
            <small>More notifications...</small>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown account" ngbDropdown placement="bottom-right" #accountDropdown="ngbDropdown">
        <h5 id="accountDropdown" class="text-nowrap pointer" ngbDropdownToggle (click)="$event.stopPropagation(); notificationsDropdown.close();">
          <span class="d-none d-sm-inline">{{ account?.name }}</span>
        </h5>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="accountDropdown" ngbDropdownMenu>
          <div class="dropdown-header d-flex flex-row align-items-center">
            <i class="material-icons">account_circle</i>
            {{ account?.email }}
          </div>
          <div class="dropdown-item" routerLink="/dashboard" routerLinkActive="disabled">
            Dashboard
          </div>
          <div class="dropdown-item" routerLink="/notification/index" routerLinkActive="disabled">
            Notifications
          </div>
          <div class="dropdown-item" routerLink="/transaction/store" routerLinkActive="disabled">
            Send CV
          </div>
          <div class="dropdown-footer text-right text-danger pointer" (click)="logout()">
            Logout
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>