h2 {
    margin: 0;
    padding: 0;
}

h5 {
    margin: 0;
    padding: 0;
    color: white;
    padding: 12px 30px 12px 10px;
}

.dropdown-menu {
    padding: 0;
}

.nav-item {
    vertical-align: middle;
    margin-left: 30px;
}

.account .material-icons {
    margin-right: 5px;
    font-size: 36px;
}

.account .dropdown-item {
    border-top: 1px solid lightgray;
    cursor: pointer;
}

.account .dropdown-item.disabled {
    cursor: default;
}

.account .dropdown-footer {
    border-top: 1px solid lightgray;
    padding: 5px 10px;
}

.notifications .material-icons {
    color:white;
    line-height: 46px;
    font-size: 38px;
    position: relative;
    cursor: pointer;
}

.notifications .material-icons > div {
    display: block;
    background: red;
    height: 16px;
    line-height: 16px;
    font-size: 9px;
    text-align: center;
    border-radius: 3px;
    color: white;
    position: absolute;
    top: 0;
    left: 22px;
    padding: 0 2px;
    margin: 0;
    box-shadow: 1px 1px 1px black;
    font-weight: bold;
}

.notifications .dropdown-item {
    font-size: 9px;
    border-bottom: 1px solid lightgray;
}

.notifications .dropdown-item:nth-child(2) {
    border-top: 1px solid lightgray;
}

.notifications .dropdown-item.unreaded {
    background-color: rgba(0, 38, 255, 0.068);
}

.notifications .dropdown-item p {
    margin: 0;
}