<div>
  <h3>Notifications
    <span *ngIf="notifications" class="text-muted">
      (
      <span title="Unread">{{ notifications?.total_unread }}</span> /
      <span title="Total">{{ notifications?.total }}</span>)
    </span>
  </h3>
  <div class="list-group">
    <div *ngIf="notifications?.data?.length == 0" class="list-group-item list-group-item-action flex-row align-items-center">
      <div class="text-center text-muted"><em>Empty...</em></div>
    </div>
    <div *ngFor="let notification of notifications?.data" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ notification.title }}</h5>
        <small>
          {{ notification.created_at | date:'medium' }}
          <br>
          <span *ngIf="notification == null || !notification.readed">Unread</span>
        </small>
      </div>
      <p class="mb-1">{{ notification.details }}</p>
    </div>
    <div *ngIf="notifications?.next_page_url != null" class="list-group-item d-flex justify-content-center active pointer" (click)="index()">
      <i class="material-icons">add_circle_outline</i>
    </div>
  </div>
</div>