<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">
    <h2 class="d-none d-sm-inline">Blockchain Intelligence Group</h2>
    <h2 class="d-block d-sm-none">BIG</h2>
  </a>
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button 
          type="button" 
          class="btn btn-outline-success btn-primary" 
          routerLink="/login"
          routerLinkActive="d-none">Login</button>
      </li>
    </ul>
  </div>
</nav>