<div class="container">
  <figure>
  </figure>
  <article>
    <p>
      Hi,
    </p>
    <p>
      My name is André Arruda, 33 years old, with 9 years as a web developer and now I prontify me to your opportunity as a Full-Stack
      Developer.
    </p>
    <p>
      Postman API doc:
      <a target="_blank" href="https://goo.gl/fdkhWL">https://goo.gl/fdkhWL</a>
    </p>
    <p>
      I made this app to demonstrate my knolodges with this technologies:
    </p>
    <ul>
      <li>
        Laravel 5.5
      </li>
      <li>
        MySQL
      </li>
      <li>
        Angular 4
      </li>
      <li>
        Twitter Bootstrap
      </li>
      <li>
        <em>Pusher Socket</em>
      </li>
    </ul>
    <iframe src="https://www.youtube.com/embed/_StidxdJ_00" frameborder="0" allowfullscreen></iframe>
    <p><small>Socket demonstration - Your client-side application receives CV in real time.</small></p>
    <p>On Bitbucket:
      <a target="_blank" href="https://goo.gl/hSeDS4">Webapp</a> &
      <a target="_blank" href="https://goo.gl/inDF62">Service</a>
    </p>
    <p>This application is eligible to be hosted on both S3 and Amazon EC3.</p>
    <small class="text-muted">
      <ul class="list-unstyled">
        <li>
          <p>S3:</p>
          <ul class="list-style">
            <li>Configure your S3 to public access with a domain associated.</li>
            <li>Just copy the
              <em>dist</em> folder into your public folder on S3.</li>
          </ul>
        </li>
        <li>
          <p>EC2:</p>
          <ul class="list-style">
            <li>
              Clone the repository from git@bitbucket.org:venovar/exercise-service.git
            </li>
            <li>
              Configure .env file with Database infos.
            </li>
            <li>
              <em># composer install</em>
            </li>
            <li>
              <em># php artisan migrate</em>
            </li>
            <li>
              <em># php artisan passport:install</em>
            </li>
            <li>
              That is it.
            </li>
          </ul>
        </li>
        <li>
          * After that, you needs configure the Passport Client Token in your webapp environment variable.
        </li>
      </ul>
    </small>
    <p>A microservice has been created and it is consumed by a webapp (static files).</p>
    <p>With this structure, it is also very easy to create a mobile application with hybrid technology (Cordova).</p>
    <p>Some links about me:</p>
    <ul>
      <li>
        <a href="http://venovar.com.br" target="_blank">Venovar</a>
        <span class="muted">(my own website)</span>
      </li>
      <li>
        <a href="https://linkedin.com/in/arcarruda" target="_blank">LinkdIn</a>
      </li>
    </ul>
    <p>
      Enjoy!
    </p>
  </article>
</div>