:host > div {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    margin-top: 64px;
    padding-bottom: 20px;
}

.painel {
    display: block;
    width: 100%;
    background: gray url('/assets/image/bkg_globe.png') no-repeat center center;
    background-size: cover;
    color: #f1b556;
    padding: 140px 0 180px;
    text-align: center;
    z-index: -2000;
}

.painel .value {
    display: inline-block;
    margin: 0 30px;
    font-size: 50px;
    text-align: center;
    padding: 0;
    position: relative; 
    border: 1px solid #f1b556;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .1);
}

.painel .value:before {
    position: absolute;
    bottom: -30px;
    left: 0;
    font-size: 16px;
    content: "Amount to send";
    opacity: .5;
    font-weight: 100;
}

.painel .value > input {
    width: 100%;
    padding: 0 15px;
    margin: 0;
    background: transparent;
    border: none;
    color: white;
    text-align: center !important;
}

.body {
    z-index: 1000;
    border-radius: 20px 20px 7px 7px ;
    background: white;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, .5);
    margin: -30px 30px 0;
    position: relative;
}

.send-button {
    display: block;
    width: 70px;
    height: 70px;
    background-color: #f1b556;
    border-radius: 100%;
    text-align: center;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .5);
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: -15px;
}

.send-button .material-icons {
    pointer-events: none;
    line-height: 70px;
    color: white;
}

.to {
    padding: 10px;
}

.to h5 {
    font-size: 80%;
    padding: 10px 5px 3px;
    margin: 0;
    border-bottom: 1px solid #f1b556;
    opacity: .5;
    pointer-events: none;
}

.to ul {
    margin: 0;
    padding: 0;
}

.to ul li {
    border-bottom: 1px solid #f1b556;
    list-style: none;
    margin: 0;
    padding: 0;
}

.to li p {
    margin: 5px;
}

.to label {
    padding: 10px 5px;
    margin: 0;
    width: 100%;
    vertical-align: middle;
    cursor: pointer;
}

.to label > div {
    font-size: 18px;
}

.to input[type=checkbox] {
    -ms-transform: scale(1.3); /* IE */
    -moz-transform: scale(1.3); /* FF */
    -webkit-transform: scale(1.3); /* Safari and Chrome */
    -o-transform: scale(1.3); /* Opera */
    margin: 20px;
}

.to .paginate {
    border: none !important;
}

.to .paginate > div {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #f1b556;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .5);
    margin: 10px auto;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.to .paginate > div:active {
    box-shadow: none;
}

.to .paginate .material-icons {
    pointer-events: none;
    line-height: 40px;
    color: white;
}

.busy {
    pointer-events: none;
    opacity: .5;
}