<div class="{{ sending ? 'busy':'' }}">
    <div class="painel">
        <div class="text-muted"><small>My balance:</small> <strong>CV {{ account.amount }}</strong></div>
        <div class="value">
            <input type="tel" currencyMask [options]="{ prefix: 'CV ' }" placeholder="CV 0.00" [(ngModel)]="amount" (keyup.enter)="send()" />
        </div>
    </div>
    <div class="body">
        <div class="send-button" title="Send CV" (click)="send()">
            <i class="material-icons">send</i>
        </div>
        <div class="to">
            <h5>To:</h5>
            <ul>
                <li *ngIf="users?.data?.length == 0">
                    <p class="text-center text-muted"><em>Empty...</em></p>
                </li>
                <li *ngFor="let user of users?.data">
                    <label for="checkbox{{ user.id }}" class="d-flex flex-row justify-content-start">
                        <input id="checkbox{{ user.id }}" type="checkbox" [checked]="user.checked" (change)="usersChange(user, $event.target.checked)">
                        <div>
                            <div>{{ user.name }}</div>
                            <div class="text-muted">
                                <small>{{ user.email }}</small>
                            </div>
                        </div>
                    </label>
                </li>
                <li class="paginate">
                    <div (click)="index()" *ngIf="users?.next_page_url != null">
                        <i class="material-icons">add</i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>