<div>
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <h1>Sign up</h1>
    <div class="form-group">
      <label for="name">Name:</label>
      <input id="name" type="text" class="form-control" [(ngModel)]="user.name" name="name" required>
    </div>
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input id="email" type="email" class="form-control" [(ngModel)]="user.email" name="email" required email>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" [(ngModel)]="user.password" name="password" required>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" [(ngModel)]="user.password_confirmation" name="password_confirmation" required>
    </div>
    <small id="passwordHelpBlock" class="form-text text-muted">
      Your password must be 8-20 characters long, contain letters (upper and lower case), numbers, and some special character (e.g.
      #, $, &, *, @, !, ?).
    </small>
    <div class="d-flex flex-sm-row flex-column">
      <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid">Sign up</button>
    </div>
  </form>
</div>