:host {
    
}

:host > div {
    min-width: 100%;
}

:host form {
    width: 100%;
    max-width: 400px;
    padding: 15px;
}

:host h1 {
    margin-bottom: 15px;
}

:host button {
    margin-top: 15px;
}