:host {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    min-height: 100%;
    min-height: 100%;
    background: #54bacb
}

:host > div {
    color: white
}