<div>
    <div class="painel">
        <div class="value">CV {{ account?.amount }}</div>
    </div>
    <div class="body {{ transactions?.data?.length != 0 ? 'with-transations' : 'start' }}">
        <!-- !transactions || !transactions.data || transactions.data.length == 0 -->
        <div class="send-button" title="Send CV" routerLink="/transaction/store">
            <i class="material-icons">send</i>
        </div>
        <div class="transactions">
            <h5>Transactions:</h5>
            <ul>
                <li *ngFor="let transaction of transactions?.data" class="row justify-content-between">
                    <div class="row">
                        <div class="icon">
                            <i class="material-icons">swap_horiz</i>
                        </div>
                        <div *ngIf="account?.id == transaction.from.id">
                            <p>Sent to </p>
                            <p class="muted">
                                <small>{{ transaction.to.name }}</small>
                            </p>
                        </div>
                        <div *ngIf="account?.id == transaction.to.id">
                            <p>Received from </p>
                            <p class="muted">
                                <small>{{ transaction.from.name }}</small>
                            </p>
                        </div>
                    </div>
                    <div>
                        <p class="{{ account?.id == transaction.from.id ? 'debit':'credit' }}">CV {{ transaction.amount }}</p>
                        <p class="muted">
                            <small>{{ transaction.created_at | date:'short' }}</small>
                        </p>
                    </div>
                </li>
                <li class="paginate">
                    <div (click)="index()" *ngIf="transactions?.next_page_url != null">
                        <i class="material-icons">add</i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>