:host > div {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    margin-top: 64px;
    padding-bottom: 20px;
}

.painel {
    display: block;
    width: 100%;
    background: gray url('/assets/image/bkg_globe.png') no-repeat center center;
    background-size: cover;
    color: #f1b556;
    padding: 160px 0 180px;
    text-align: center;
    z-index: -2000;
}

.painel .value {
    display: inline-block;
    margin: 0 auto;
    font-size: 50px;
    text-align: center;
    padding: 0;
    position: relative; 
}

.painel .value:before {
    position: absolute;
    bottom: -10px;
    left: 0;
    font-size: 16px;
    content: "My balance";
    opacity: .5;
    font-weight: 100;
}

.body {
    z-index: 1000;
    border-radius: 20px 20px 7px 7px ;
    background: white;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, .5);
    margin: -30px 30px 0;
    position: relative;
    overflow: hidden;
    min-height: 500px;
}

.body.with-transations {
    overflow: initial;
}

.body .send-button {
    display: block;
    width: 150px;
    height: 150px;
    border: 2px solid #f1b556;
    border-radius: 100%;
    text-align: center;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .5);
    cursor: pointer;
    margin: 150px auto;
    opacity: 0;
    -webkit-transition: width .2s linear, height .2s linear, top .2s linear, right .2s linear, margin .2s linear, opacity .2s linear;
    transition: width .2s linear, height .2s linear, top .2s linear, right .2s linear, margin .2s linear, opacity .2s linear;
}

.body.start .send-button {
    opacity: 1;
}

.body .send-button:after {
    content: "Send CV";
    color: #f1b556;
    display: block;
    position: absolute;
    bottom: 150px;
    right: 0;
    font-size: 30px;
    width: 100%;
}

.body.with-transations .send-button:after {
    display: none;
}

.body.with-transations .send-button {
    background-color: #f1b556;
    width: 70px;
    height: 70px;
    position: absolute;
    top: -20px;
    right: -15px;
    margin: 0;
    opacity: 1
}

.body .send-button .material-icons {
    pointer-events: none;
    font-size: 70px;
    line-height: 150px;
    color: #f1b556;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    vertical-align: middle;
    -webkit-transition: font-size .2s;
    transition: font-size .2s;
}

.body.with-transations .send-button .material-icons {
    color: white;
    line-height: 60px;
    font-size: 30px;
}

.transactions {
    padding: 10px;
    display: none;
}

.with-transations .transactions  {
    display: block;
}

.transactions h5 {
    font-size: 80%;
    padding: 10px 5px 3px;
    margin: 0;
    border-bottom: 1px solid #f1b556;
    opacity: .5;
    pointer-events: none;
}

.transactions ul {
    margin: 0;
    padding: 0;
    display: block;
}

.transactions ul li {
    border-bottom: 1px solid #f1b556;
    list-style: none;
    margin: 0;
    padding: 15px 0;
}

.transactions ul li > div {
    margin: 0;
}

.transactions ul li div:last-of-type {
    margin: 0 15px;
}

.transactions ul li p:last-of-type {
    opacity: .5;
}

.transactions .icon {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #f1b556;
    border-radius: 100%;
    text-align: center;
    color: #ff0000;
}

.transactions .icon  .material-icons {
    pointer-events: none;
    line-height: 50px;
    color: #f1b556;
}

.transactions p {
    margin: 0;
    padding: 0;
}

.transactions .debit  {
    color: lightcoral;
}
.transactions .debit:before  {
    content: "-";
}
.transactions .credit  {
    color: lightseagreen;
}

.transactions .paginate {
    border: none !important;
}

.transactions .paginate > div {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #f1b556;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .5);
    margin: 0 auto !important;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.transactions .paginate > div:active {
    box-shadow: none;
}

.transactions .paginate .material-icons {
    pointer-events: none;
    line-height: 40px;
    color: white;
}