:host {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: -moz-calc(100% - 80px);
    min-height: -webkit-calc(100% - 80px);
    min-height: calc(100% - 80px);
}

:host > div {
    min-width: 100%;
    padding: 20px;
}

:host form {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    padding: 15px;
    border: 1px solid #f1f1f1;
    border-radius: 15px;
    background: white;
    box-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

:host h1 {
    margin-bottom: 15px;
}

:host .text-danger {
    margin-bottom: 20px;
}