<div>
  <form (ngSubmit)="onSubmit()">
    <h1>Sign in</h1>
    <div class="form-group">
      <input type="email" class="form-control" placeholder="E-mail" [(ngModel)]="account.email" name="email" required email>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" [(ngModel)]="account.password" name="password" required>
    </div>
    <div class="text-danger" [hidden]="formMessage == null || formMessage.trim().length == 0">
        {{ formMessage }}
    </div>
    <div class="d-flex flex-row justify-content-between">
        <button type="submit" class="btn btn-primary p-2">Sign in</button>
        <button type="button" class="btn btn-link p-2" routerLink="/signup">Sign up</button>
    </div>
  </form>
</div>