* {
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

.bg-primary {
    background-color: #54bacb !important;
}

.bg-dark {
    background-color: #49494a !important;
}

.pointer {
    cursor: pointer;
}